@charset "UTF-8";
/* Змінні */
/* Приховані елементи */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Глобальне скидання стилів */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #84a178;
}

/* Зображення */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Списки */
ul {
  list-style: none;
}

/* Секція контакти */
.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    flex-direction: row;
    gap: 16px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    gap: 32px;
    margin-bottom: 64px;
  }
}
.contacts__item {
  padding: 40px 32px;
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #131313;
  background-color: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    padding: 40px 24px;
    max-width: 224px;
    width: 100%;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    padding: 40px 40px;
    max-width: 368px;
    width: 100%;
    font-size: 16px;
  }
}
.contacts__label {
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 12px;
  background-color: #f8d24e;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts__label {
    font-size: 16px;
    margin-bottom: 32px;
  }
}
.contacts__address {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .contacts__address {
    gap: 12px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__address {
    gap: 8px;
    margin-bottom: 64px;
  }
}
.contacts__title, .contacts__location, .contacts__tel, .contacts__mail {
  text-decoration: none;
  font-style: normal;
  color: #131313;
}
.contacts__location {
  color: #D6936D;
}
.contacts__location:hover, .contacts__location:focus {
  text-decoration: underline;
}
.contacts__time {
  color: #ababab;
}
.contacts__schedule {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .contacts__schedule {
    margin-bottom: 64px;
  }
}
.contacts__time:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__time:not(:last-child) {
    margin-bottom: 12px;
  }
}
.contacts__address::after, .contacts__schedule::after {
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #e1e1e1;
  left: 0;
  bottom: -24px;
}
@media screen and (min-width: 768px) {
  .contacts__address::after, .contacts__schedule::after {
    bottom: -32px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__btn-wrap {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
.contacts__btn {
  font-size: 14px;
}
.contacts__btn--orange {
  margin: 0 auto;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .contacts__btn--orange {
    margin: 0;
  }
}
.contacts__btn--transparent {
  margin: 0 auto;
  padding: 10px 46px;
}
@media screen and (min-width: 768px) {
  .contacts__btn--transparent {
    margin: 0;
  }
}
.contacts__icon {
  margin-left: 6px;
}
.contacts__icon:focus {
  stroke: #fcfcfc;
}
.contacts__btn:focus .contacts__icon {
  stroke: #fcfcfc;
}/*# sourceMappingURL=main.css.map */